body {
}
/*general colors*/
.siteTextColor {
    color: black;
}
.siteBackgroundColor {
    background-color: #9a7d5a;
}
.btn-type1 {
    background-color: #aac8b7;
}

.btn-type2 {
    background-color: #225e62;
}

.title-color {
    color: #225e62;
}


.container {
    padding: 20px;
    background-color: #aac8b7;
    width: 35%;
    height: 100%;
    color: white;
}

.type1-colorText {
    color: black;
}

.type2-colorText {
    color: white;
}
/*card*/
.card-backgroundcolor {
    background-color: #aac8b7;
}

.btn-card {
    background-color: #225e62;
}

.card-TextColor {
    color: black;
    text-align: center
}

.card-btn-TextColor {
    color: white;
}

.card-title-TextColor {
    color: black;
    text-align: center
}

/*footer*/
.footerBackgroundColor {
    background-color: #225e62;
}

.footerTextColor {
    color: white;
 
}

.footerTitleColor {
    color: #aac8b7;
}

/*page menu*/
.menu{
    width:150px;
    height:100px;
}
/*login*/
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 5px 0 22px 0;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    background: #f1f1f1;
}


button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.buttonhref {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}
    button:hover {
        opacity: 0.8;
    }



.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;

}

img.avatar {
    width: 30%;
    height: 45%;
    border-radius: 50%;
}


table {
    width: 100%
}
/*register*/
h2 {
    color: rebeccapurple;
}
.button:hover {
    background-color: #3e8e41
}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.form {
    height: 100%;
    width: 100%;
}

/*///*/


.center{
    vertical-align:middle;
}
 input[type=text]:focus, input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
.myTable {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: auto;
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    background-color: #225e62;
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
    color:black;
}

/*.submitbtn {
    background-color: #ffc107;
    color: black;
    padding: 16px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 20%;
    height: 31px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}*/
.registerbtn:hover {
    opacity: 1;
}


.signin {
    background-color: black;
    text-align: center;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
    float: left;
}

h4 {
    font-size: 70px;
}
/*master*/
.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.btnForUser {
    display: inline-block;
    font-weight: 400;
    height:32px;
    width:40px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 12px;
    line-height: 0.5;
    border-radius: .25rem;
    transition: color .15s;
    background-color:black;
}


.btncontainer {
    width:35px;
    height: 50px;
    position: relative;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 40%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.text-center {
    text-align: center !important;
}

/*search bar*/
#myInput {
    padding: 20px;
    margin-top: -6px;
    border: 0;
    border-radius: 0;
    background: #f1f1f1;
}